<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dingtaifu.dingdingbang">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />
    </provider>

    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".mvp.main.view.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.splash.view.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.identify.view.IdentifyProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".mvp.identify.view.IdentifyWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.identify.view.IdentifyBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.identify.view.IdentifyCarrierActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.login.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.person.view.InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.credit.view.CreditLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.credit.view.CreditRegisteredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.credit.view.RecoverPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.credit.view.RecoverLoginNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.customer_service.view.CustomerServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.share.view.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".mvp.share.view.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.credit.view.InputReportCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.customer_service.view.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.customer_service.view.AnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.splash.view.LaunchActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".mvp.main.view.activity.QuestionActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>